.list-2col {
    @include cols(2);
    list-style-position: inside;
    @include media-query($on-palm){
        @include cols(1);
    }
}

.padding {
    padding: $spacing-unit;
    @include calcs(width, '100% - #{$spacing-unit*2}');
    @include calcs(height, '100% - #{$spacing-unit*2}');
}

.float-left {
    float: left;
}

.float-right {
    float: right;
    @include media-query($on-palm){
        float: none;
        margin-top: $spacing-unit;
        margin-bottom: $spacing-unit;
    }
}

.center {
    text-align: center;
}

$sizes: 100, 200, 300, 400, 500, 600;
@each $sz in $sizes{
    .width-#{$sz}{
        width: 0px + $sz;
        @include media-query($on-palm){
            width: 100%;
        }
    }
    .height-#{$sz}{
        height: 0px + $sz;
    }
}
