---
layout: default
---

<h1 class="home-heading">{{ page.title | escape }}</h1>
<div class="home-content">
    {{ content }}
</div>

<!--<div style="min-height:100px; max-height:auto; max-width:100%; display: table-cell;"><iframe src="https://gfycat.com/ifr/UnfitArtisticIndigowingedparrot" frameborder="0" scrolling="no" width="100%" height="100%" style="position:absolute;top:10%;pointer-events:none" allowfullscreen=""></iframe></div>
<iframe src="https://gfycat.com/ifr/UnfitArtisticIndigowingedparrot" frameborder="0" scrolling="no" width="100%" height="100%" style="position:absolute;top:10%;pointer-events:none" allowfullscreen=""></iframe>
</div>-->
